/* Navigation.module.css 수정 */
.navigation {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2%;
}

.logo {
  background-image: url('../images/anritsulogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 10%; /* 로고 너비를 화면 너비의 비율로 설정 */
  min-width: 120px; /* 로고의 최소 너비 설정 */
  height: 60px; /* 로고의 높이 고정 */
  flex-shrink: 0;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  color: #4EA685;
  font-weight: bold;
  gap: 1rem;
}

.navList li {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.search {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.search input {
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  max-width: 200px;
}

.search button {
  border: none;
  border-radius: 10px;
  background-color: #0055b3;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .navList {
    display :inline-flex;
  }
  .search{
    display :flex
  }

  .logo {
    width: 15%; /* 모바일 화면에서 로고 크기 조정 */
    min-width: 100px; /* 로고의 최소 너비 조정 */
  }
}
